data/*
!data/.gitkeep
data-p/*
!data-p/.gitkeeplog/*
data-d/*
!data-d/.gitkeep
!log/.gitkeep
log/*
screens/*
!screens/.gitkeep
te/*
!te/.gitkeep
docs/
app/__pycache__/*
app/*history.json
app/*session.yaml
*.pyc
app/history.json
